

h1 {
  text-align: center;
  color:#3498db;
}

h2 {
  margin-top: 30px;
  color: #3498db;
}

section {
  background-color: #f7f7f7;
  padding: 15px;
  margin-top: 15px;
  border-radius: 6px;
}

button {
  margin: 5px;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  background-color: #3498db;
  color: white;
}



input {
  padding: 7px;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

ul {
  padding-left: 20px;
}
li{
  list-style: circle;
}